.bg-antiquewhite {
  background-color: antiquewhite;
}

.w-10 {
  height: 100%;
  width: 23vw;
}

.borderWhite {
  border: 3px solid white;
}

.bg-black {
  background-color: black;
}

.imgContainer {
  width: 35vw;
  height: 100%;
}

.plpr_12rem {
  padding-left: 6rem;
}
